<eternal>
{{ eternal }}
</eternal>

<past>
{% if summary1 %}
# This part is a summary of the events of {{ summary1.format_header() }}

{{ summary1.summary }}

---

{% endif %}
{% if summary2 %}
# This part is a summary of the events of {{ summary2.format_header() }}

{{ summary2.summary }}
{% endif %}
{% if today_so_far %}

{{ today_so_far }}
{% endif %}
</past>

<present>
{% if machine_name %}
**Machine:** {{ machine_name }}
{% endif %}

{% if weather %}
{{ weather }}
{% endif %}
</present>

<future>
{% if calendar %}
{{ calendar }}
{% endif %}

{% if todos %}
{{ todos }}
{% endif %}
</future>
