services:
  greatloom:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "18080:8080"  # The Great Loom (dev) on port 18080
    environment:
      - UPSTREAM_URL=http://primer:8082  # Argonath
    restart: unless-stopped
    dns:
      - ${TAILSCALE_DNS}
      - ${PUBLIC_DNS}
    dns_search:
      - ${TAILSCALE_SEARCH}
